body {
  background-color: antiquewhite;
  text-align: center;
}
.indent {
  border: 0.5px solid white;
  border-radius: 4px;
  transition: 0.2s;

  padding: 20px;
  background-color: white;
  width: 80vw;
  margin: auto;
  margin-top: 7vh;
  cursor: pointer;
  box-shadow: 0px 5px 7px 2px #888888;
}
.indent:hover {
  background-color: rgb(14, 12, 1);
  color: rgb(245, 238, 238);
  cursor: pointer;
  border: 0.5px solid white;
  border-radius: 4px;
  box-shadow: 0px 5px 7px 2px #888888;
}
